{% extends "pages/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Upload File</h2>

    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-info">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="shadow p-4 rounded bg-light">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">File Name</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="id_file" class="form-label">Choose File</label>
            {{ form.file }}
        </div>
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
</div>
<div class="text-center mt-4">
    <a href="{% url 'dashboard' %}" class="btn btn-success">Back to Dashboard</a>
</div>
{% endblock %}
