{% extends "pages/base.html" %}

{% block title %}Welcome to Dialysis Connect{% endblock %}

{% block content %}
    <h1>Welcome to Dialysis Connect!</h1>
    <p>Join our community to share experiences, find support, and stay informed about kidney health.</p>
    <p>Most importantly, have your dialysis records at hand anytime you meet your health worker.</p>

    <h2>Learn More</h2>
    <ul>
        <li><a href="https://ika.ie/kidneyhealth/" target="_blank">Kidney Health - Read More</a></li>
        <li><a href="https://ika.ie/patient-guides/" target="_blank">Patient Guides - Read More</a></li>
        <li><a href="https://ika.ie/medical-information/" target="_blank">Medical Information - Read More</a></li>
        <li><a href="https://ika.ie/practical-information/" target="_blank">Practical Information - Read More</a></li>
    </ul>
{% endblock %}
