{% extends "pages/base.html" %}

{% block title %}Welcome to Dialysis Connect{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero bg-light text-center py-5">
    <div class="container">
        <h1 class="display-4">Welcome to Dialysis Connect!</h1>
        <p class="lead">
            Join our community to share experiences, find support, and stay informed about kidney health.
        </p>
        <p class="lead">
            Most importantly, have your dialysis records at hand anytime you meet your health worker.
        </p>
        <a href="{% url 'dashboard' %}" class="btn btn-success btn-lg">Join the Community</a>

    </div>
</section>

<!-- Learn More Section -->
<div class="container my-5">
    <h2 class="text-center mb-4">Learn More</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kidney Health</h5>
                    <p class="card-text">Learn about kidney function, risk factors, and maintaining kidney health.</p>
                    <a href="https://ika.ie/kidneyhealth/" target="_blank" class="btn btn-success">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Patient Guides</h5>
                    <p class="card-text">Resources to help you manage your condition, from diet to treatment options.</p>
                    <a href="https://ika.ie/patient-guides/" target="_blank" class="btn btn-success">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Medical Information</h5>
                    <p class="card-text">Insights into kidney disease, dialysis treatments, and medical advancements.</p>
                    <a href="https://ika.ie/medical-information/" target="_blank" class="btn btn-success">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Practical Information</h5>
                    <p class="card-text">Guidance on daily life with kidney disease, including financial and social support.</p>
                    <a href="https://ika.ie/practical-information/" target="_blank" class="btn btn-success">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
