/* Ensure full height layout */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Push content down to keep footer at bottom */
.content {
    flex: 1;
}

/* Footer styling */
.footer {
    background-color: #212529; /* Dark background */
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative; /* Ensures footer stays at the bottom */
    bottom: 0;
}


nav.custom-navbar {
    background-color: #004d00 !important; 
}

/* Ensure text color is visible */
.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-brand {
    color: white !important;
}

/* Bold 'Home' and 'Login/Logout' */
.navbar-nav .nav-item:first-child .nav-link,  
.navbar-nav .nav-item:last-child .nav-link {  
    font-weight: bold !important;
}

.hero {
    background-image: url('https://res.cloudinary.com/dzibrzlq9/image/upload/v1740966715/heroimage_jqjp3v.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center;
    height: 400px;     
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .container {
    text-align: center;
}

.hero .container h1, .hero .container p, .hero .container a {
    margin-bottom: 1rem;
} 
